@{
    ViewData["Title"] = "Gym Page";
}

<div class="text-center">
    <h1 class="display-4">Gym Reservation</h1>

    <div>
        <section>
            <img src="/img/gymImage.jpg" style="width:550px; height:450px">
        </section>
    </div>
</div>
