@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h5>USE OF INFORMATION</h5>
<p> We will not be using your information for analytics and/or marketing, personalization, or communication. We use your personal information only in order to fulfill your requests. 
    For example, in order to reserve an amenity, you need to provide an apartment number for authentication.
    If you use the partner finder feature, your provided contact information will be displayed for public viewing.
    </p>
<h5>SECURITY</h5>
<p>We have taken measures to ensure user's information stays private. If user's information is to be displayed publicly, user's consent will be required.  
   User's information will not be kept in the system for more than 24 hours.</p>
